# Created by .ignore support plugin (hsz.mobi)

# User-specific stuff:
.idea/workspace.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries
.gradle/

build/
/.idea/inspectionProfiles/
